@import '_variables';

button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

body {
  min-height: calc(100vh - #{$height-of-header});
  font-family: $font-family-base;
  margin: 0;
  padding: 0;
  //background-color: $gray-color;
  background-color: $white-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body, html {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

.ok-button {
  color: $white-color;
  background-color: $primary-color;
  transition: background-color 0.3s ease;
}

.ok-button:hover {
  background-color: darken($primary-color, 10%);
}

.cancel-button {
  background-color: $gray-color;
  color: $black-color;
}

.cancel-button:hover {
  background-color: darken($gray-color, 10%);
}

input {
  font-size: 16px;
}

textarea {
  font-size: 16px;
}

.column-section {
  display: flex;
  flex-direction: column;
}

.row-section {
  display: flex;
  flex-direction: row;
}

.shadow-border {
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
}

.icon {
  transition: color 0.3s ease;
  cursor: pointer;
}

.icon:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

#backToTop, #scrollReturn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  outline: none;
  background-color: $primary-color;
  color: $white-color;
  cursor: pointer;
  padding: 15px;
  border-radius: 25px;
  z-index: 99; /* Make sure it does not overlap other elements */
}

#backToTop:hover, #scrollReturn:hover {
  background-color: $red-color;
}