@import 'header';

.add-coupon-section {
  margin-top: 70px; //adjust this value if necessary
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: $white-color;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
  position: relative;

  h2 {
    width: 100%;
    text-align: center;
    background-color: $primary-color;
    color: $white-color;
    padding: 10px;
  }

  .coupon-form {
    justify-content: center;
    width: 100%;
    margin-top: 20px;

    .main-certificate-data {
      justify-content: center;
      width: 100%;
      margin-top: 20px;

      .form-column {
        flex: 1;
        padding: 0 15px;

        input, select {
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          font-size: 16px;
          border-radius: 5px;
          border: 1px solid $gray-color;
          box-sizing: border-box;
        }


        .file-input-wrapper {
          display: flex;
          align-items: center;
          border: 1px solid $gray-color;
          border-radius: 5px;
          width: 100%;
          box-sizing: border-box;
          margin-bottom: 10px;

          input[type='file'] {
            padding: 8px;
            margin: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .tag-and-description-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    .wide-column {
      padding-left: 15px;
      padding-right: 15px;

      textarea {
        height: 44px;
      }

      .tag-input-section {
        width: 100%;
        margin-bottom: 10px;
        justify-content: center;

        input {
          width: 100%;
          font-size: 16px;
          border-radius: 5px;
          border: 1px solid $gray-color;
          box-sizing: border-box;
          height: 20px;
          padding-bottom: 20px;
          padding-top: 20px;
          margin-right: 10px;
        }

        .button {
          min-width: 80px;
          padding: 10px;
          font-size: 16px;
          box-sizing: border-box;
          color: $white-color;
          cursor: pointer;
          background-color: $primary-color;
        }
      }


      textarea {
        min-width: 100%;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid $gray-color;
        box-sizing: border-box;
        margin-bottom: 10px;
      }

      .tag-list {

        border: 1px solid $gray-color;
        border-radius: 5px;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;

        label {
          background-color: $primary-color;
          color: $white-color;
          padding: 5px 10px;
          margin: 5px;
          border-radius: 5px;
          cursor: pointer;
        }

        .delete-tag {
          cursor: pointer;
          color: $red-color;
          font-size: 0.8em;
          padding-left: 5px;
        }
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;

    .back-button,
    .save-button {
      width: 45%;
      padding: 10px;
      box-sizing: border-box;
    }
  }
}

@media only screen and (max-width: 600px) {
  .add-coupon-section {
    .main-certificate-data {
      flex-direction: column;

      .form-column {
        padding: 0;
      }
    }

    .buttons {
      flex-direction: column;

      .back-button,
      .save-button {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}
