@import 'variables';
@import 'header';
@import 'styles';

$section-padding-top: 0px;
$section-padding-bottom: 70px;
$section-padding-horizontal: 70px;
$section-top-margin: $logo-circle-diameter;
$logo-margin-top: $logo-circle-diameter / 2;
$logo-margin-bottom: 50px;
$logo-circle-diameter: 200px;

.auth-section {
  margin-top: $section-top-margin;
  justify-content: center;
  align-items: center;
  padding: $section-padding-top $section-padding-horizontal $section-padding-bottom;
  background-color: $white-color;
  position: relative;

  .shop-logo {
    margin-top: -$logo-margin-top;
    height: $logo-circle-diameter;
    width: $logo-circle-diameter;
    border-radius: 50%;
    background-color: $primary-color;
    color: $white-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: $logo-margin-bottom;
  }

  .login-form,
  .register-form .form-column {
    input {
      margin-bottom: 10px;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      box-sizing: border-box;
    }
  }

  .register-form {
    justify-content: center;
    width: 100%;

    .form-column {
      padding: 0 15px;
    }
  }

  .buttons {
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }

  .cancel-button,
  .signup-button,
  .login-button,
  button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
  }

  .cancel-button,
  .signup-button {
    width: 45%;
  }
}

@media only screen and (max-width: 600px) {
  .auth-section {
    width: 50%;

    .shop-logo {
      top: -$logo-circle-diameter/3;
      height: $logo-circle-diameter / 1.5;
      width: $logo-circle-diameter / 1.5;
      font-size: 25px;
    }

    .register-form {
      flex-direction: column;

      .form-column {
        padding: 0;
      }
    }

    .buttons {
      flex-direction: column;

      .cancel-button,
      .signup-button {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}
