@import 'header';

.cart-section {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: $white-color;
  border-radius: 5px;
  width: 100%;
  max-width: 1400px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);

  h2 {
    width: 100%;
    text-align: center;
    background-color: $primary-color;
    color: $white-color;
    padding: 10px;
  }

  .cart-items {
    width: 100%;

    .cart-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .item-info {
        display: flex;
        align-items: center;

        .item-image {
          max-width: 60px;
          max-height: 60px;
          object-fit: cover;
          margin-right: 15px;
        }

        .info-content {
          display: flex;
          flex-direction: column;
          h3{
            margin: 5px;
          }
          p{
            margin: 5px;
          }
        }
      }

      .remove-button {
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        box-sizing: border-box;
        color: $white-color;
        cursor: pointer;
        background-color: $gray-color;
        width: 45%; // this makes it similar to buttons on your other pages
      }
    }

      .remove-button {
        padding: 5px 10px;
        background-color: $gray-color;
        color: $white-color;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  .total {
    width: 100%;
    text-align: right;
    margin-top: 20px;
  }

  .checkout-button {
    width: 100%;
    text-align: right;
    margin-top: 20px;

    button {
      padding: 10px 20px;
      background-color: $primary-color;
      color: $white-color;
      border-radius: 5px;
      cursor: pointer;
      box-sizing: border-box;
      width: 100%; // adjust as per your need
    }
  }


//.checkout-button {
//  padding: 10px;
//  font-size: 16px;
//  border-radius: 5px;
//  color: $white-color;
//  cursor: pointer;
//  background-color: $primary-color;
//  text-align: center;
//  margin-top: 20px;
//}
