button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center; }

body {
  min-height: calc(100vh - 70px);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center; }

body, html {
  margin: 0;
  padding: 0; }

a {
  cursor: pointer; }

.ok-button {
  color: white;
  background-color: #3F51B5;
  transition: background-color 0.3s ease; }

.ok-button:hover {
  background-color: #32408f; }

.cancel-button {
  background-color: #ccc;
  color: #000000; }

.cancel-button:hover {
  background-color: #b3b3b3; }

input {
  font-size: 16px; }

textarea {
  font-size: 16px; }

.column-section {
  display: flex;
  flex-direction: column; }

.row-section {
  display: flex;
  flex-direction: row; }

.shadow-border {
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75); }

.icon {
  transition: color 0.3s ease;
  cursor: pointer; }

.icon:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2); }

#backToTop, #scrollReturn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  outline: none;
  background-color: #3F51B5;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 25px;
  z-index: 99;
  /* Make sure it does not overlap other elements */ }

#backToTop:hover, #scrollReturn:hover {
  background-color: red; }

header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #3F51B5;
  color: white;
  box-sizing: border-box; }
  header .menu-logo, header .header-right {
    display: flex;
    align-items: center; }
  header .menu-logo a {
    margin-top: 5px; }
  header .material-symbols-outlined {
    font-variation-settings: 'FILL' 10, 'wght' 800, 'GRAD' 0, 'opsz' 48; }
  header .search-container {
    width: 30%;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
    overflow: hidden; }
    header .search-container input {
      flex-grow: 3;
      border: none;
      padding: 0 5px 5px 5px;
      outline: none;
      height: 100%; }
    header .search-container .combobox-container {
      position: relative;
      border-left: 1px solid #ccc;
      flex-grow: 1; }
      header .search-container .combobox-container select {
        border: none;
        padding: 5px;
        outline: none;
        background: white;
        height: 100%;
        width: 100%; }
    header .search-container input::after {
      content: "";
      border-left: 1px solid #ccc;
      height: 100%;
      position: absolute; }
  header .hamburger-icon, header .favorites-icon, header .cart-icon {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-right: 15px;
    background-color: #3F51B5;
    border-radius: 5px;
    padding: 2px;
    border: 1px solid #3F51B5; }
    header .hamburger-icon span, header .favorites-icon span, header .cart-icon span {
      cursor: pointer; }
  header .hamburger-icon:hover, header .favorites-icon:hover, header .cart-icon:hover {
    border: 1px solid #ccc; }
  header .shop-logo {
    height: 30px;
    cursor: pointer; }
  header .login-signup a {
    color: white;
    text-decoration: none;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid #3F51B5;
    padding: 5px; }
    header .login-signup a:first-child {
      margin-right: 5px; }
  header .login-signup a:hover {
    border: 1px solid #ccc; }

@media only screen and (max-width: 600px) {
  .header .shop-logo {
    height: 70px; } }

.coupon-info-section {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  position: relative;
  max-width: 900px; }
  .coupon-info-section h2 {
    width: 100%;
    text-align: center;
    background-color: #3F51B5;
    color: white;
    padding: 10px;
    margin-bottom: 20px; }
  .coupon-info-section .coupon-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px; }
    .coupon-info-section .coupon-form .image-description-wrapper {
      justify-content: space-between; }
      .coupon-info-section .coupon-form .image-description-wrapper img {
        max-width: 45%;
        height: auto; }
      .coupon-info-section .coupon-form .image-description-wrapper .form-column {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0 5px; }
        .coupon-info-section .coupon-form .image-description-wrapper .form-column label {
          font-weight: bold;
          margin-top: 10px; }
        .coupon-info-section .coupon-form .image-description-wrapper .form-column p.description {
          margin-top: 5px;
          line-height: 1.6;
          height: 100%;
          overflow-y: auto;
          border: 1px solid #ccc;
          padding: 10px;
          border-radius: 5px; }
    .coupon-info-section .coupon-form .tags h3 {
      margin-bottom: 10px; }
    .coupon-info-section .coupon-form .tags .tag-list {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 5px;
      display: flex;
      flex-wrap: wrap; }
      .coupon-info-section .coupon-form .tags .tag-list label {
        background-color: #3F51B5;
        color: white;
        padding: 5px 10px;
        margin: 5px;
        border-radius: 5px;
        cursor: pointer; }
  .coupon-info-section .certificate-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin-top: 10px; }
    .coupon-info-section .certificate-action .add-to-cart {
      padding: 10px;
      box-sizing: border-box; }

@media (max-width: 768px) {
  .coupon-info-section {
    width: 90%; }
    .coupon-info-section .coupon-form .image-description-wrapper {
      flex-direction: column;
      align-items: center; }
      .coupon-info-section .coupon-form .image-description-wrapper img {
        max-width: 100%;
        margin-bottom: 20px; }
      .coupon-info-section .coupon-form .image-description-wrapper .form-column, .coupon-info-section .coupon-form .image-description-wrapper .tags {
        text-align: center; } }
