@import 'variables';
@import 'header';
@import 'styles';
.category-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .category-title {
    margin-right: 20px;
  }
  .category-tile {
    flex: 0 0 auto;
    margin: 0 10px;
    border: 1px solid $gray-color;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    }
    justify-content: center;
    align-items: center;
    p {
      margin: 0 2px;
    }
    img {
      width: 50px;
      height: 50px;
      margin-left: 10px;
      margin-right: 10px;
    } } }
@media (max-width: 600px) {
  .category-section {
    .category-title {
      margin-right: 0;
      text-align: center;
    }
    .category-tile {
      width: 20%; /* adjust as needed */
      margin: 5px auto; /* auto centers the tile */
      img {
        width: 80%;
        height: auto;
      }
      p {
        font-size: small;
      } } } }
.category-wrapper {
  padding: 10px 20px;
}
.filter-sort-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $gray-color;
  border-radius: 5px;
  padding: 5px;
  margin: 0 20px;
  @media (max-width: 768px) {
    .filter-sort-item {
      width: 100%;
    }
    flex-direction: column;
    align-items: stretch;
  }
  label {
    margin: 5px;
  }
  input[type="text"] {
    margin: 5px;
    border: 1px solid $gray-color;
    border-radius: 5px;
    height: 20px;
  }
  .sort-section {
    display: flex;
    align-items: center;
    margin: 5px;
    label {
      margin: 5px 10px 5px 5px;
    }
    select {
      padding: 5px 10px;
      border: 1px solid $gray-color;
      border-radius: 5px;
      background: $white-color;
    } } }
.range-slider {
  width: 100%;
  position: relative;
  .range-slider__range {
    width: 100%;
    padding: 0;
    margin: 0 10px;
  } }
.certificate-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  .certificate-tile {
    width: 45%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    border: 1px solid $gray-color;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    &:hover {
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    }
    // For tablets
    @media (min-width: 768px) {
      width: 30%;
    }
    // For desktops
    @media (min-width: 992px) {
      width: 24%;
    }
    // For larger desktops
    @media (min-width: 1200px) {
      width: 17%;
    }
    img {
      max-height: 200px;
      width: 100%;
      object-fit: cover;
    }
    .certificate-info {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      .certificate-details {
        flex: 1;
      }
      .certificate-meta {
        align-items: flex-end;
        .favorites-icon {
          background-color: $white-color;
          border-radius: 5px;
          padding: 2px;
          border: 1px solid $white-color;
        }
        .favorites-icon:hover {
          border: 1px solid $primary-color;
        } } }
    .certificate-action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      .add-to-cart {
        padding: 5px 10px;
      } } } }
p, .certificate-name, .description {
  margin: 0;
}