button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center; }

body {
  min-height: calc(100vh - 70px);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center; }

body, html {
  margin: 0;
  padding: 0; }

a {
  cursor: pointer; }

.ok-button {
  color: white;
  background-color: #3F51B5;
  transition: background-color 0.3s ease; }

.ok-button:hover {
  background-color: #32408f; }

.cancel-button {
  background-color: #ccc;
  color: #000000; }

.cancel-button:hover {
  background-color: #b3b3b3; }

input {
  font-size: 16px; }

textarea {
  font-size: 16px; }

.column-section {
  display: flex;
  flex-direction: column; }

.row-section {
  display: flex;
  flex-direction: row; }

.shadow-border {
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75); }

.icon {
  transition: color 0.3s ease;
  cursor: pointer; }

.icon:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2); }

#backToTop, #scrollReturn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  outline: none;
  background-color: #3F51B5;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 25px;
  z-index: 99;
  /* Make sure it does not overlap other elements */ }

#backToTop:hover, #scrollReturn:hover {
  background-color: red; }

header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #3F51B5;
  color: white;
  box-sizing: border-box; }
  header .menu-logo, header .header-right {
    display: flex;
    align-items: center; }
  header .menu-logo a {
    margin-top: 5px; }
  header .material-symbols-outlined {
    font-variation-settings: 'FILL' 10, 'wght' 800, 'GRAD' 0, 'opsz' 48; }
  header .search-container {
    width: 30%;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
    overflow: hidden; }
    header .search-container input {
      flex-grow: 3;
      border: none;
      padding: 0 5px 5px 5px;
      outline: none;
      height: 100%; }
    header .search-container .combobox-container {
      position: relative;
      border-left: 1px solid #ccc;
      flex-grow: 1; }
      header .search-container .combobox-container select {
        border: none;
        padding: 5px;
        outline: none;
        background: white;
        height: 100%;
        width: 100%; }
    header .search-container input::after {
      content: "";
      border-left: 1px solid #ccc;
      height: 100%;
      position: absolute; }
  header .hamburger-icon, header .favorites-icon, header .cart-icon {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-right: 15px;
    background-color: #3F51B5;
    border-radius: 5px;
    padding: 2px;
    border: 1px solid #3F51B5; }
    header .hamburger-icon span, header .favorites-icon span, header .cart-icon span {
      cursor: pointer; }
  header .hamburger-icon:hover, header .favorites-icon:hover, header .cart-icon:hover {
    border: 1px solid #ccc; }
  header .shop-logo {
    height: 30px;
    cursor: pointer; }
  header .login-signup a {
    color: white;
    text-decoration: none;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid #3F51B5;
    padding: 5px; }
    header .login-signup a:first-child {
      margin-right: 5px; }
  header .login-signup a:hover {
    border: 1px solid #ccc; }

@media only screen and (max-width: 600px) {
  .header .shop-logo {
    height: 70px; } }

button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center; }

body {
  min-height: calc(100vh - 70px);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center; }

body, html {
  margin: 0;
  padding: 0; }

a {
  cursor: pointer; }

.ok-button {
  color: white;
  background-color: #3F51B5;
  transition: background-color 0.3s ease; }

.ok-button:hover {
  background-color: #32408f; }

.cancel-button {
  background-color: #ccc;
  color: #000000; }

.cancel-button:hover {
  background-color: #b3b3b3; }

input {
  font-size: 16px; }

textarea {
  font-size: 16px; }

.column-section {
  display: flex;
  flex-direction: column; }

.row-section {
  display: flex;
  flex-direction: row; }

.shadow-border {
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75); }

.icon {
  transition: color 0.3s ease;
  cursor: pointer; }

.icon:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2); }

#backToTop, #scrollReturn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  outline: none;
  background-color: #3F51B5;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 25px;
  z-index: 99;
  /* Make sure it does not overlap other elements */ }

#backToTop:hover, #scrollReturn:hover {
  background-color: red; }

.category-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .category-section .category-title {
    margin-right: 20px; }
  .category-section .category-tile {
    flex: 0 0 auto;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
    justify-content: center;
    align-items: center; }
    .category-section .category-tile:hover {
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2); }
    .category-section .category-tile p {
      margin: 0 2px; }
    .category-section .category-tile img {
      width: 50px;
      height: 50px;
      margin-left: 10px;
      margin-right: 10px; }

@media (max-width: 600px) {
  .category-section .category-title {
    margin-right: 0;
    text-align: center; }
  .category-section .category-tile {
    width: 20%;
    /* adjust as needed */
    margin: 5px auto;
    /* auto centers the tile */ }
    .category-section .category-tile img {
      width: 80%;
      height: auto; }
    .category-section .category-tile p {
      font-size: small; } }

.category-wrapper {
  padding: 10px 20px; }

.filter-sort-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin: 0 20px; }
  @media (max-width: 768px) {
    .filter-sort-wrapper {
      flex-direction: column;
      align-items: stretch; }
      .filter-sort-wrapper .filter-sort-item {
        width: 100%; } }
  .filter-sort-wrapper label {
    margin: 5px; }
  .filter-sort-wrapper input[type="text"] {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 20px; }
  .filter-sort-wrapper .sort-section {
    display: flex;
    align-items: center;
    margin: 5px; }
    .filter-sort-wrapper .sort-section label {
      margin: 5px 10px 5px 5px; }
    .filter-sort-wrapper .sort-section select {
      padding: 5px 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background: white; }

.range-slider {
  width: 100%;
  position: relative; }
  .range-slider .range-slider__range {
    width: 100%;
    padding: 0;
    margin: 0 10px; }

.certificate-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px; }
  .certificate-section .certificate-tile {
    width: 45%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px; }
    .certificate-section .certificate-tile:hover {
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2); }
    @media (min-width: 768px) {
      .certificate-section .certificate-tile {
        width: 30%; } }
    @media (min-width: 992px) {
      .certificate-section .certificate-tile {
        width: 24%; } }
    @media (min-width: 1200px) {
      .certificate-section .certificate-tile {
        width: 17%; } }
    .certificate-section .certificate-tile img {
      max-height: 200px;
      width: 100%;
      object-fit: cover; }
    .certificate-section .certificate-tile .certificate-info {
      display: flex;
      justify-content: space-between;
      padding: 10px; }
      .certificate-section .certificate-tile .certificate-info .certificate-details {
        flex: 1; }
      .certificate-section .certificate-tile .certificate-info .certificate-meta {
        align-items: flex-end; }
        .certificate-section .certificate-tile .certificate-info .certificate-meta .favorites-icon {
          background-color: white;
          border-radius: 5px;
          padding: 2px;
          border: 1px solid white; }
        .certificate-section .certificate-tile .certificate-info .certificate-meta .favorites-icon:hover {
          border: 1px solid #3F51B5; }
    .certificate-section .certificate-tile .certificate-action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px; }
      .certificate-section .certificate-tile .certificate-action .add-to-cart {
        padding: 5px 10px; }

p, .certificate-name, .description {
  margin: 0; }
